*{
	bforder: 1px dashed black;

}
div{
	display:inline-block;
	width:100%;
	margin-top: 1px;
	// background-color: black;
}
.left{
	// background-color:yellow;
	max-width:40%;
	width:350px;
	float: left;

}
.right{
	// background-color:pink;
	float:left;
	max-width: 55%;
	border-left: 2px solid blue;
	padding-left: 15px;
}

.outer{
	margin:10px;
}

body{
// border: 2px solid violet;
// height:100%;
// min-height:210%;
background-image: url("http://media0.giphy.com/media/14u2ZI1XhkoZCU/giphy.gif");
background-size: 100% 100%;
background-attachment: fixed;
background-position: center;

}
h1, h3, th{
	font-family: "Times new roman", Arial, sans-serif;
	color: White;
}
h1{
	text-align: center;
}
p, li, td{
	color:rgb(150, 150, 255);
}
#vision{
		padding: 5px 15px 15px 5px;
}
img{
	-ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
	position:relative;
	margin-left: 43%;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}
